{% extends "_auth.html" %}

{% block title %}Wallet{% endblock %}

{% block content %}
    <div class="flex flex-col lg:flex-row lg:items-start lg:justify-center gap-4 p-4">
        <div class="stats stats-vertical lg:stats-horizontal shadow bg-white p-4 rounded-lg">
            <div class="stat">
                <div class="stat-title">Incomes</div>
                <div class="stat-value" style="color: green">{{ incomes }} zł</div>
            </div>
            <div class="stat">
                <div class="stat-title">Expenses</div>
                <div class="stat-value" style="color: red">{{ expenses }} zł</div>
            </div>
            <div class="stat">
                <div class="stat-title">Balance</div>
                <div class="stat-value" style="color: {% if balance < 0 %}red{% else %}green{% endif %}">{{ balance }}
                    zł
                </div>
            </div>
        </div>

        <div class="card w-full lg:w-96 bg-white shadow-xl p-4 rounded-lg mt-5 lg:mt-0">
            <div class="card-body">
                <h2 class="card-title">Monthly Balance Analysis</h2>
                <div class="flex items-center gap-2">
                    {% if analysis_results.income_comparison == "current_month_lower" %}
                        <span class="text-red-500">Current month's income is lower than last month.</span>
                    {% elif analysis_results.income_comparison == "current_month_higher" %}
                        <span class="text-green-500">Current month's income is higher than last month.</span>
                    {% else %}
                        <span>No income comparison data available.</span>
                    {% endif %}
                </div>
                <div class="flex items-center gap-2">
                    {% if analysis_results.expense_comparison == "current_month_lower" %}
                        <span class="text-green-500">Current month's expenses are lower than last month.</span>
                    {% elif analysis_results.expense_comparison == "current_month_higher" %}
                        <span class="text-red-500">Current month's expenses are higher than last month.</span>
                    {% else %}
                        <span>No expense comparison data available.</span>
                    {% endif %}
                </div>
                <p>Current month incomes: {{ analysis_results.current_month_incomes }} zł</p>
                <p>Current month expenses: {{ analysis_results.current_month_expenses }} zł</p>
                <p>Current month balance: {{ analysis_results.current_month_balance }} zł</p>
                <p>Previous month incomes: {{ analysis_results.previous_month_incomes }} zł</p>
                <p>Previous month expenses: {{ analysis_results.previous_month_expenses }} zł</p>
                <p>Previous month balance: {{ analysis_results.previous_month_balance }} zł</p>
            </div>
        </div>
    </div>
{% endblock %}
