<!-- templates/registration/password_reset_form.html -->
{% extends "_base.html" %}
{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
<div class="container mx-auto mt-10 ">
    <h1 class="text-2xl font-bold mb-6">Resetowanie Hasła</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-4">Wyślij link do resetowania hasła</button>
    </form>
<a href="{%  url 'login' %}" class="btn">Powrót do logowania</a>
</div>
{% endblock %}
