<!-- Flash messages -->
<div class="fixed top-0 left-0 w-full p-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success flash-message" id="flashMessage">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
<button class="btn" onclick="income_modal.showModal()">Add new income</button>
<dialog id="income_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Add income</h3>
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="mb-3">
                <label for="income_name" class="badge">Name</label>
                <input type="text" name="income_name" id="income_name" class="input input-bordered w-full max-w-xs"/>
            </div>
            <div class="mb-3">
                <label for="income_amount" class="badge">Amount</label>
                <input type="number" step="0.01" id="income_amount" name="income_amount"
                       class="input input-bordered w-full max-w-xs"/>
            </div>
            <div class="mb-3">
                <label for="income_date" class="badge">Date</label>
                <input type="datetime-local" name="income_date" id="income_date"
                       class="input input-bordered w-full max-w-xs"/>
            </div>
            <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg" type="submit">Save income</button>

        </form>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

<style>
    .flash-message {
        opacity: 0.8;
        transition: opacity 1s ease-in-out;
        width: 50%;
    }

    .flash-message.fade-out {
        opacity: 0;
    }
</style>
<script>
    function toggleModal(modalID) {
        const modal = document.getElementById(modalID);
        modal.classList.toggle('hidden');
    }

    // Auto-hide flash message after 5 seconds
    document.addEventListener('DOMContentLoaded', (event) => {
        const flashMessage = document.getElementById('flashMessage');
        if (flashMessage) {
            setTimeout(() => {
                flashMessage.classList.add('fade-out');
                setTimeout(() => {
                    flashMessage.remove();
                }, 1000); // matches the transition duration
            }, 2000);
        }
    });
</script>