<button class="btn" onclick="expense_modal.showModal()">Add new expense</button>
<dialog id="expense_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Add expense</h3>
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="mb-3">
                <label for="expense_name" class="badge">Name</label>
                <input type="text" name="expense_name" id="expense_name" class="input input-bordered w-full max-w-xs"/>
            </div>
            <div class="mb-3">
                <label for="expense_amount" class="badge">Amount</label>
                <input type="number" step="0.01" id="expense_amount" name="expense_amount"
                       class="input input-bordered w-full max-w-xs"/>
            </div>
            <div class="mb-3">
                <label class="badge">Receipt image</label>
                <input type="file" class="file-input file-input-bordered w-full max-w-xs" id="expense_image" name="expense_image"/>
            </div>
            <div class="mb-3">
                <label for="expense_date" class="badge">Date</label>
                <input type="datetime-local" name="expense_date" id="expense_date"
                       class="input input-bordered w-full max-w-xs"/>
            </div>
            <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg" type="submit">Save expense</button>

        </form>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

<style>
    .flash-message {
        opacity: 0.8;
        transition: opacity 1s ease-in-out;
        width: 50%;
    }

    .flash-message.fade-out {
        opacity: 0;
    }
</style>
