{% extends "_auth.html" %}

{% block title %}Expenses{% endblock %}

{% block content %}
    {% include 'home/expenses/add.html' %}
    <div class="overflow-x-auto" >

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in page_obj.object_list %}
                <tr class="text-dark">
                    <td >{{ forloop.counter }}</td>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount }} zł</td>
                    <td>{{ expense.date }}</td>
                    <td class="p-4">
                        {% if expense.expense_file %}
                            <a data-fancybox="gallery" href="{{ expense.expense_file.url }}">
                                <img src="{{ expense.expense_file.url }}" alt="Receipt"
                                     class="w-24 h-16 object-cover rounded-lg">
                            </a>
                        {% else %}
                            No receipt
                        {% endif %}
                    </td>

                    <td>
                        <button class="btn btn-block">View</button>
                        <button class="btn btn-block">Edit</button>
                        <button class="btn btn-block">Delete</button>


                    </td>
                </tr>
            {% empty %}
                <p>No data</p>
            {% endfor %}
            </tbody>
        </table>
        <!-- Paginacja -->
        <div class="pagination">
        <span class="step-links " data-theme="dark">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
                <span class="disabled text-dark">&laquo; first</span>
                <span class="disabled">previous</span>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
                <span class="disabled">next</span>
                <span class="disabled">last &raquo;</span>
            {% endif %}
        </span>
        </div>
    </div>

    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .pagination .step-links a, .pagination .step-links span {
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid #ddd;
            color: #007bff;
            text-decoration: none;
        }

        .pagination .step-links span.disabled {
            color: #ddd;
        }

        .pagination .step-links .current {
            font-weight: bold;
        }
    </style>

{% endblock %}
