{% load static %}
<html lang="en" data-theme="{{ request.session.theme|default:'light' }}">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} - Finanse

    </title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        $(document).ready(function () {
            $('[data-fancybox="gallery"]').fancybox();
        });
            document.addEventListener('DOMContentLoaded', (event) => {
        const flashMessage = document.getElementById('user-feedback');
        if (flashMessage) {
            setTimeout(() => {
                flashMessage.classList.add('fade-out');
                setTimeout(() => {
                    flashMessage.remove();
                }, 1000); // matches the transition duration
            }, 2000);
        }
    });

    </script>
</head>
<body >
{% include '_navbar.html' %}
    <div class="container mx-auto">
       <div class="container mx-auto mt-4">
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} shadow-lg mb-4" id="user-feedback">
                        <div>
                            <span>{{ message }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>