<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>
                    {% block title %}{% endblock %} - Finanse

        </title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
{% block content %} {% endblock %}
</body>
</html>