<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">

                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h7"></path>
                </svg>
            </div>
            <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li><a href="{% url 'homepage' %}">Homepage</a></li>
                <li><a href="{% url 'incomes' %}">Incomes</a></li>
                <li><a href="{% url 'expenses' %}">Expenses</a></li>
                <li><a>Bills</a></li>
                <li><a href="{% url 'wallet' %}">Wallet</a></li>
                <li><a>Shoplists</a></li>
                <li><a href="{% url 'userProfile' %}">Profile</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl" href="{% url 'homepage' %}">Finanse</a>
    </div>

    <div class="join">
        <button class="btn join-item">{% include 'change_theme.html' %}</button>
        <button class="btn join-item">Button</button>
        <form action="{% url 'logout' %}" method="post" class="inline">
            {% csrf_token %}
            <button type="submit" class="btn join-item">Log out</button>
        </form>
    </div>

</div>
