{% extends 'auth.html' %}
{% block title %}
  Finanse
{% endblock %}

{% block content %}
  <div id="root">
    Witaj {{ fullName}}
  </div>
  <script type="module">
    const app = Vue.createApp({
      data() {
        return {
          fullName: '',
        }
      },
      methods: {
        getUserData() {
          const token = localStorage.getItem('token')
          const headers = {
            Authorization: `Token ${token}`,
            'Content-Type': 'application/json'
          }
          axios
            .get(`${API_URL}/api/userdata/`, { headers })
            .then((response) => {
              //                    const username = response.data.username
              const name = response.data.name
              const surname = response.data.surname
              //                    const email = response.data.email
              this.fullName = name + ' ' + surname
            })
            .catch((error) => {
              // Obsłuż błąd żądania
              console.error('Błąd podczas sprawdzania statusu logowania:', error)
              window.location.replace('/')
              return
            })
        }
      }
    })
    
    app.mount('#root')
  </script>
{% endblock %}
