{% extends 'base.html' %}
{% block title %}Finanse - Zaloguj się{% endblock %}

{% block content %}
<div id="root">
    <form @submit.prevent="handleSubmit">
      <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" id="username" class="form-control" v-model="username" />
      </div>
      <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" v-model="password" />
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-sm btn-outline-success">Login</button>
      </div>
    </form>
  </div>
  <script type="module">
    const app = Vue.createApp({
      data() {
        return {
          username: "",
          password: ""
        };
      },
      methods: {
        handleSubmit() {
          const data  = {
            'username': this.username,
            'password': this.password
          };
          console.log(data)
          axios.post('/api/login/',data)
          .then((response) => {
            const token = response.data.token;
            localStorage.setItem('token', token)
            console.log(token)
            if(token)
            {
              window.location.href = '/home'
            }

        })
        }
      }
    });

    app.mount('#root');
  </script>

{% endblock %}
